<ion-header>
  <ion-toolbar>
    <ion-title>Página de God Of War</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Opción 1 -->
    <ion-item>
      <ion-label>God Of War Ascension</ion-label>
      <ion-toggle slot="end" color="primary"></ion-toggle>
    </ion-item>

    <!-- Opción 2 -->
    <ion-item>
      <ion-label>God Of War 3</ion-label>
      <ion-checkbox slot="end" color="secondary"></ion-checkbox>
    </ion-item>

    <!-- Opción 3 -->
    <ion-item>
      <ion-label>God Of War Ragnarok</ion-label>
      <ion-button slot="end" color="tertiary" href="https://www.playstation.com/en-us/games/god-of-war-ragnarok/">
        Ver Más
      </ion-button>
    </ion-item>
  </ion-list>

  <!-- Botones adicionales -->
  <ion-item>
    <ion-button expand="block" color="danger" href="https://www.playstation.com/en-us/god-of-war/">
      Página Oficial de God Of War
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-button expand="block" color="success">
      Descubre Más Juegos
    </ion-button>
  </ion-item>

  <!-- Botón de regreso -->
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/inicio"></ion-back-button>
  </ion-buttons>
</ion-content>
