<ion-header>
  <ion-toolbar>
    <ion-title>Página de Kof</ion-title>
      <!-- Botón de regreso -->
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/inicio"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de Juegos -->
  <ion-list>
    <!-- Kof 2008 -->
    <ion-item>
      <ion-label>
        <h2>Kof 2008</h2>
        <p>Un clásico con combates mejorados y personajes icónicos.</p>
      </ion-label>
      <ion-badge color="tertiary">Clásico</ion-badge>
      <ion-button slot="end" fill="outline" color="primary" href="https://www.kof.com/2008">
        Ver Más
      </ion-button>
    </ion-item>

    <!-- Kof 2013 -->
    <ion-item>
      <ion-label>
        <h2>Kof 2013</h2>
        <p>El regreso triunfal con animaciones impresionantes.</p>
      </ion-label>
      <ion-badge color="success">Éxito</ion-badge>
      <ion-button slot="end" fill="outline" color="secondary" href="https://www.kof.com/2013">
        Ver Más
      </ion-button>
    </ion-item>

    <!-- Kof Magic Plus -->
    <ion-item>
      <ion-label>
        <h2>Kof Magic Plus</h2>
        <p>Versión especial con nuevos movimientos y combinaciones.</p>
      </ion-label>
      <ion-badge color="warning">Especial</ion-badge>
      <ion-button slot="end" fill="outline" color="warning" href="https://www.kof.com/magicplus">
        Ver Más
      </ion-button>
    </ion-item>
  </ion-list>


</ion-content>
