<ion-header>
  <ion-toolbar>
    <ion-title>Página de Gears Of War</ion-title>
      <!-- Botón de regreso -->
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/inicio"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Gears of War Card -->
    <ion-item>
      <ion-card class="game-card">
        <ion-img class="card-img" src="assets/gears.png" alt="Gears Of War Image"></ion-img>
        <ion-card-header>
          <ion-card-title>Gears Of War</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Un juego de disparos en tercera persona desarrollado por Epic Games.
        </ion-card-content>
        <ion-button expand="full" color="primary" href="https://gearsofwar.com">
          Más Información
        </ion-button>
      </ion-card>
    </ion-item>

    <!-- Gears of War 2 Card -->
    <ion-item>
      <ion-card class="game-card">
        <ion-img class="card-img" src="assets/gears2.jpg" alt="Gears Of War 2 Image"></ion-img>
        <ion-card-header>
          <ion-card-title>Gears Of War 2</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          La secuela que expande la historia de Marcus Fenix y su escuadrón.
        </ion-card-content>
        <ion-button expand="full" color="primary" href="https://gearsofwar.com/2">
          Más Información
        </ion-button>
      </ion-card>
    </ion-item>

    <!-- Gears of War 3 Card -->
    <ion-item>
      <ion-card class="game-card">
        <ion-img class="card-img" src="assets/gears3.jpg" alt="Gears Of War 3 Image"></ion-img>
        <ion-card-header>
          <ion-card-title>Gears Of War 3</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          El cierre épico de la trilogía Gears of War, con nuevas mecánicas de juego.
        </ion-card-content>
        <ion-button expand="full" color="primary" href="https://gearsofwar.com/3">
          Más Información
        </ion-button>
      </ion-card>
    </ion-item>
  </ion-list>


</ion-content>
